/* imports */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&display=swap');


/* variables */

:root {
    --principal: #ffffff;
    --secundario: #000000;
    --hover: #f17373;
    --delete: #8d4d4da9;
    --bg-principal: #343334;
    --bg-secundario: #199afc;
    --bg-forinputs: #c4c4c4;
    --font-primary:'Inter', sans-serif;
}

/* reset */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

::-webkit-scrollbar{
    width: 10px;
    background-color: #2e2c2c;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(29, 28, 27); 
    background-image: -webkit-linear-gradient(90deg,rgba(255, 255, 255, .2),rgba(255, 255, 255, .2) 50%,rgba(255, 255, 255, .2) 75%)
}

/* Contenedor */

.container {
    max-width: 1080px;
    margin: 0 auto;
}

/* Body */

body {
    background: var(--bg-principal);
    font-family: var(--font-primary);
    display: grid;
    grid-template-rows: 15vh 5vh 35vh 30vh 5vh;
    gap: 2vh;
    color: var(--principal);
}

/* header */

.header {
    width: 100%;
    height: 5vh;
    grid-row: 1 / 2;
    display: flex;
}

.nav {
    margin: 4vh auto;
}

/* seccion outside */

.weather {
    grid-row: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    text-transform: uppercase;
}

/* main */

.main {
    grid-row: 3 / 4;
    display: grid;
    grid-auto-flow: row;
    width: 30%;
    align-items: center;
    text-align: center;
}

.main-item{
    display: block;
}

.form-input{
    display: block;
    margin: 2vh;
    font-size: 2em;
    text-transform: uppercase;
}

label input{
    font-size: 1em;
    display: block;
    width: 70%;
    text-align: center;
    background-color: var(--bg-forinputs);
    border-style: none;
    border-radius: 20px;
    margin: 0 auto;
}

.form-button {
    width: 50%;
    height: 4vh;
    border: solid 2px var(--principal);
    border-radius: 20px;
    font-size: 1.5em;
    background-color: var(--bg-secundario);
    color: var(--principal);
    text-transform: uppercase;
}

.form-button:hover {
    cursor: pointer;
}


/* seccion activitys */

.activitys {
    grid-row: 4 / 5;
    text-align: center;
    width: 40%;
    overflow: scroll;
    overflow-x: hidden;
    margin-top: 2em;
}

.list-events li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 2rem;
    margin: 5px auto;
    border: solid 1px var(--principal);
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.list-events li:hover {
    background-color: var(--delete);
}



/* footer */

.footer {
    text-align: center;
}


