/* imports */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&display=swap');


/* variables */

:root {
    --principal: #ffffff;
    --secundario: #000000;
    --hover: #f17373;
    --delete: #8d4d4da9;
    --bg-principal: #343334;
    --bg-secundario: #199afc;
    --bg-forinputs: #c4c4c4;
    --font-primary:'Inter', sans-serif;
}

/* reset */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

::-webkit-scrollbar{
    width: 10px;
    background-color: #2e2c2c;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(29, 28, 27); 
    background-image: -webkit-linear-gradient(90deg,rgba(255, 255, 255, .2),rgba(255, 255, 255, .2) 50%,rgba(255, 255, 255, .2) 75%)
}

/* Contenedor */

.container {
    width: min(90%, 1080px);
    margin: 0 auto;
}

/* Body */

body {
    background: var(--bg-principal);
    font-family: var(--font-primary);
    color: var(--principal);
}

/* header */

.header {
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
}

.nav {
    margin: 2rem;
    font-weight: bold;
}


/* seccion outside */

.weather {
    font-size: 3em;
    text-transform: uppercase;
    color: var(--hover);
    font-weight: bold;
    text-align: center;
    margin: 2rem auto;
}

/* main */

.main {
    width: 90%;
    text-align: center;
}

@media (min-width: 480px) {
    .main{
        width: 70%;
    }
}

@media (min-width: 780px) {
    .main{
        width: 35%;
    }
}

.main-item{
    margin: 0;
    text-transform: uppercase;
    font-weight: normal;
}

.form-input{
    margin: 2rem 0;
    display: block;
    text-transform: uppercase;
    font-size: 1.5rem;
}

label input{
    display: block;
    width: 100%;
    height: 3rem;
    color: var(--secundario);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.form-button {
    width: 100%;
    height: 3rem;
    border-radius: 20px;
    background-color: var(--bg-secundario);
    text-transform: uppercase;
    font-weight: bold;
    transition: all .2s ease-in-out;
}

.form-button:hover {
    color: var(--principal);
    border: solid 2px var(--principal);
}


/* seccion activitys */

.activitys {
    text-align: center;
    width: 90%;
    margin-top: 2em;
}

@media (min-width: 480px) {
    .activitys {
        width: 70%;
    }
}

@media (min-width: 768px) {
    .activitys{
        width: 40%;
    }
}

.activity {
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 2rem;
    margin: 5px auto;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.list-events li:hover {
    background-color: var(--delete);
}

.date-activity {
    color: var(--hover);
}

.description-activity {
    color: var(--hover);
}

/* footer */

.footer {
    text-align: center;
    margin-top: 2rem;
}


